.calendar-conteiner {
  border: black 1px solid;
}

.elements-container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 4px;
  margin: 4px;
}

.calendar-element {
  font-size: 16px;
}

.calendar-element:hover {
  outline: 1px solid black;
}

.calendar-element:focus {
  background-color: cadetblue;
}

.current {
  background-color: cadetblue;
}
