<div class="flex flex-col items-center">
  <p class="mb-4">
    {{ calendarService.date.value.toDate() | date: "longDate" }}
  </p>

  <div class="mb-2 text-slate-400 before:content-['▼']"></div>
  <cdk-virtual-scroll-viewport
    (scrolledIndexChange)="onDayScroll($event)"
    orientation="horizontal"
    itemSize="40"
    class="scrollbar-hidden h-8 w-[280px] snap-x"
  >
    <div class="flex">
      <button
        *cdkVirtualFor="let day of calendar; let i = index"
        (click)="onDayClick(day, i)"
        class="mx-1 flex h-8 w-8 snap-center items-center justify-center rounded-full bg-slate-400"
      >
        {{ day.toDate() | date: "d" }}
      </button>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
