li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}

li span {
  cursor: pointer;
  text-decoration: underline;
}

.done {
  background-color: green;
}

.not-done {
  background-color: red;
}
